<head>
    <meta charset="UTF-8">
    <title>Student Web</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<form action="#" th:action="@{/students}" th:object="${student}" method="post">
    <table>
        <tr>
            <td> <label for="nim">NIM</label></td>
            <td> <input type="text" th:field="*{nim}" id="nim" placeholder="NIM"></td>
        </tr>
        <tr>
            <td> <label for="fullName">Full name</label></td>
            <td> <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full name"></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error"></td>

        </tr>
        <tr>
            <td> <label for="dateOfBirth">Date of birth</label></td>
            <td> <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="Date of birth"></td>
            <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="error"></td>

        </tr>
        <tr>
            <td> <label for="address">Address</label></td>
            <td> <input type="text" th:field="*{address}" id="address" placeholder="Address"></td>

        </tr>
        <tr>
            <td><label class="form-label">Password</label></td>
            <td><input class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                th:field="*{password}"
                type="password"
         />
         <p th:errors="*{password}" class="error"
            th:if="${#fields.hasErrors('password')}">
         </p></td>
        </tr>

        <tr>
            <td> <input type="submit" value="Add Student"></td>

        </tr>
        <tr>
            <div th:if="${#fields.hasErrors('global')}">
                <h3>errors:</h3>
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
            </div>
        </tr>

    </table>


</form>